
body {
    background-color: #332c23;
}

p {
  color: #ffffff
}

h1 {
  background-color: #877348;
  color: #ffffff;
}

.navbar-custom {
    background-color:#877348;
    color:#ffffff;
    border-radius:0;
}

.navbar-custom .navbar-nav > li > a {
    color:#332c23;
}

.navbar-custom .navbar-nav > .active > a {
    color: #e78200;
    background-color:transparent;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus,
.navbar-custom .navbar-nav > .open >a {
    text-decoration: none;
    background-color: silver; **highlight colour**
}

.navbar-custom .navbar-brand {
    color:#332c23; **title colour**
}
.navbar-custom .navbar-toggle {
    background-color:#eeeeee;
}
.navbar-custom .icon-bar {
    background-color:#877348;
}
